[submodule "lua"]
	path = lua
	url = https://github.com/dibyendumajumdar/lua.git
	branch = lua53
[submodule "ravi"]
	path = ravi
	url = https://github.com/dibyendumajumdar/ravi.git
	branch = master
[submodule "ravi-torch-paths"]
	path = ravi-torch-paths
	url = https://github.com/dibyendumajumdar/ravi-torch-paths.git
	branch = ravi-distro
[submodule "ravi-torch7"]
	path = ravi-torch7
	url = https://github.com/dibyendumajumdar/ravi-torch7.git
	branch = ravi-distro-aten
[submodule "ravi-lpeglabel"]
	path = ravi-lpeglabel
	url = https://github.com/dibyendumajumdar/ravi-lpeglabel.git
	branch = ravi-distro
[submodule "ravi-luasocket"]
	path = ravi-luasocket
	url = https://github.com/dibyendumajumdar/ravi-luasocket.git
	branch = ravi-distro
[submodule "ravi-cjson"]
	path = ravi-cjson
	url = https://github.com/dibyendumajumdar/ravi-cjson.git
	branch = ravi-distro
[submodule "ravi-filesystem"]
	path = ravi-filesystem
	url = https://github.com/dibyendumajumdar/ravi-filesystem.git
	branch = ravi-distro
[submodule "ravi-penlight"]
	path = ravi-penlight
	url = https://github.com/dibyendumajumdar/ravi-penlight
	branch = ravi-distro
[submodule "ravi-moses"]
	path = ravi-moses
	url = https://github.com/dibyendumajumdar/ravi-moses.git
	branch = ravi-distro
[submodule "ravi-torch7-nn"]
	path = ravi-torch7-nn
	url = https://github.com/dibyendumajumdar/ravi-torch7-nn.git
	branch = ravi-distro
[submodule "ravi-torch7-sys"]
	path = ravi-torch7-sys
	url = https://github.com/dibyendumajumdar/ravi-torch7-sys.git
	branch = ravi-distro
[submodule "ravi-torch7-xlua"]
	path = ravi-torch7-xlua
	url = https://github.com/dibyendumajumdar/ravi-torch7-xlua.git
	branch = ravi-distro
[submodule "ravi-torch7-optim"]
	path = ravi-torch7-optim
	url = https://github.com/dibyendumajumdar/ravi-torch7-optim.git
	branch = ravi-distro
[submodule "ravi-torch-cephes"]
	path = ravi-torch-cephes
	url = https://github.com/dibyendumajumdar/ravi-torch-cephes.git
	branch = ravi-distro
[submodule "ravi-external-libs"]
	path = ravi-external-libs
	url = https://github.com/dibyendumajumdar/ravi-external-libs.git
[submodule "ravi-torch7-autograd"]
	path = ravi-torch7-autograd
	url = https://github.com/dibyendumajumdar/ravi-torch7-autograd.git
	branch = ravi-distro
[submodule "nj"]
	path = nj
	url = https://github.com/dibyendumajumdar/nj.git
	branch = ravi-distro
[submodule "ravi-protobuf"]
	path = ravi-protobuf
	url = https://github.com/dibyendumajumdar/ravi-protobuf.git
	branch = ravi-distro
[submodule "ravi-libuv-luv"]
	path = ravi-libuv-luv
	url = https://github.com/dibyendumajumdar/ravi-libuv-luv.git
	branch = ravi-distro
[submodule "ravi-simplex"]
	path = ravi-simplex
	url = https://github.com/dibyendumajumdar/ravi-simplex.git
	branch = Suravi
